[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-freezegun = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
envparse = "*"
python-dateutil = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
