@import "~src/styles/partials/variables/variables"
@import "~src/styles/partials/mixins/mixins"

.header
    width 100%

.nav
    width 92%
    +above(3)
        width 50%
    margin $sp auto
    display flex
    flex-direction row
    justify-content space-evenly
