@import "~src/styles/partials/variables/variables"
@import "~src/styles/partials/mixins/mixins"

.header
    width 100%

    &::after
        content ''
        display block
        border-top 1px solid $cl--first--dark
        border-bottom 1px solid $cl--first--low
        margin 0 auto
        width 66%

.nav
    width 92%
    +above(3)
        width 50%
    margin $sp auto
    display flex
    flex-direction row
    justify-content space-evenly
    align-items center

    &__item
        flex 0 1 33%
        text-align center
        cursor pointer

        &--logo
            width $sp * 2.5
            height $sp * 2.5
            background-image url('src/assets/images/logo-mix.svg')
            background-repeat no-repeat
            background-position center
            background-size contain

        &--anchor
            color white
            fz-scale--one()
            font-weight bold
