$cl--first--high   = #C1EBEA
$cl--first--med    = #A3E1E0
$cl--first         = #84D7D6
$cl--first--low    = #65CDCB
$cl--first--dark   = #46C3C1

$cl--second--high  = #F4C967
$cl--second--med   = #F1BC41
$cl--second        = #EEAF1B
$cl--second--low   = #D19710
$cl--second--dark  = #AB7B0D

$cl--third--high   = #FBC6B1
$cl--third--med    = #F9AA8A
$cl--third         = #F78154
$cl--third--low    = #F6713C
$cl--third--dark   = #F45415

$cl--off           = #fafafc
$cl--off--low      = darken($cl--off, 6%)

$cl--pale          = #f9f9c7

$cl--high          = #788791
$cl--light         = #65737B
$cl--med           = #545F66
$cl--low           = #40494F
$cl--dark          = #2E3438

// Background colour of disabled buttons
$cl--disabled      = #b0b0b0

$cl--anchor           = $cl--first--med
$cl--anchor--interact = $cl--first

$cl--focus         = #E9E322
$cl--error         = #DB443C
$cl--success       = #7BCF57
