// font family variables
$ff--body     = 'roboto', sans-serif
$ff--heading  = 'modak', sans-serif

// font-size variables
$ratio--sml = 1.125
$ratio--lrg = 1.24
// the middle point between $ratio--lrg and $ratio--sml
$ratio--med = ((($ratio--lrg - $ratio--sml) / 2) + $ratio--sml)

$fz--base = 1rem

// font-weight variables
$fw--light   = 200
$fw--normal  = 400
$fw--strong  = 700
$fw--heading = 400

// line height variables
$lh--body    = 1.618
$lh--heading = 1.5

// line-length variable, edit this to suit the typeface chosen.
// the line-length of heading elements will operate on this value
$ll = 74

// letter-spacing variable, edit this to suit the typeface chosen
$ls--body    = -0.05em
$ls--heading = -0.05em
